### Initilize the SparkSession

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [7]:
spark

### Reading data using spark

In [11]:
sample = spark.read.csv('sample_data.csv', header=True)

In [12]:
type(sample)

pyspark.sql.dataframe.DataFrame

In [13]:
sample.show()

+-------+-----------+--------------------+--------------------+---------+--------+-------------------+-------+--------+----+-------------------+
|stud_id|actual_abil|        testing_abil|        attempted_qn|estimator|selector|           duration|run_num|qn_count|qnid|         difference|
+-------+-----------+--------------------+--------------------+---------+--------+-------------------+-------+--------+----+-------------------+
|      0|  -1.070397|  -2.449999990910292|[35.0, 46.0, 69.0...|  ternary|  random|0.17400169372558594|      0|      30|65.0|  1.379602990910292|
|      1|   0.023275|   0.420492659192532|[66.0, 33.0, 18.0...|  ternary|  random| 0.1559460163116455|      0|      30|46.0| -0.397217659192532|
|      2|  -0.881079|  -0.321411498915404|[35.0, 6.0, 19.0,...|  ternary|  random|0.15687823295593262|      0|      30|59.0| -0.559667501084596|
|      3|  -0.291742|  0.6451042841561141|[46.0, 6.0, 5.0, ...|  ternary|  random|0.14149069786071777|      0|      30|52.0| -0.936846284156114|
|      4|   -0.13334| -0.8024054316990081|[6.0, 77.0, 36.0,...|  ternary|  random|0.08756160736083984|      0|      30|53.0| 0.6690654316990081|
|      5|  -0.604401|  0.8521504698880016|[3.0, 66.0, 19.0,...|  ternary|  random|0.08709430694580078|      0|      30|71.0|-1.4565514698880015|
|      6|  -0.212129|  2.2856964384205636|[42.0, 59.0, 65.0...|  ternary|  random|0.08495688438415527|      0|      30|43.0|-2.4978254384205636|
|      7|  -0.638354|-0.25347072951495675|[3.0, 35.0, 46.0,...|  ternary|  random|0.08982682228088379|      0|      30|47.0|-0.3848832704850432|
|      8|  -0.428025|  0.2563337439484892|[3.0, 6.0, 9.0, 8...|  ternary|  random|0.19700217247009277|      0|      30|77.0|-0.6843587439484892|
|      9|  -0.261285| -0.6195291579701014|[55.0, 33.0, 51.0...|  ternary|  random|0.10912537574768066|      0|      30|45.0|0.35824415797010145|
|     10|  -0.142432|  -1.818151494730264|[46.0, 33.0, 20.0...|  ternary|  random| 0.1685802936553955|      0|      30| 6.0| 1.6757194947302638|
|     11|   -0.24334|   1.601012898683548|[55.0, 3.0, 167.0...|  ternary|  random|0.11421418190002441|      0|      30|77.0|-1.8443528986835478|
|     12|  -0.348199| -0.8202585397660729|[46.0, 42.0, 58.0...|  ternary|  random|0.18504977226257324|      0|      30| 4.0| 0.4720595397660729|
|     13|    0.50439|  2.0182145375385883|[8.0, 46.0, 23.0,...|  ternary|  random| 0.2942988872528076|      0|      30|25.0|-1.5138245375385884|
|     14|  -0.022567|  0.8160637053288522|[33.0, 8.0, 80.0,...|  ternary|  random|0.17464756965637207|      0|      30|47.0|-0.8386307053288522|
|     15|   -0.33589|  0.9075507561676204|[59.0, 55.0, 57.0...|  ternary|  random|0.09616780281066895|      0|      30| 9.0|-1.2434407561676204|
|     16|   0.637761| -2.3647907059825957|[56.0, 59.0, 16.0...|  ternary|  random|0.09336447715759277|      0|      30|81.0| 3.0025517059825955|
|     17|   0.393601|  2.4197280507721004|[35.0, 56.0, 21.0...|  ternary|  random|0.08596539497375488|      0|      30|41.0|-2.0261270507721005|
|     18|   -0.31878|   1.500101672336459|[46.0, 43.0, 51.0...|  ternary|  random|0.08786487579345703|      0|      30| 5.0|-1.8188816723364591|
|     19|  -0.292954|   1.903441297356039|[33.0, 59.0, 68.0...|  ternary|  random|0.08950161933898926|      0|      30|10.0|-2.1963952973560392|
+-------+-----------+--------------------+--------------------+---------+--------+-------------------+-------+--------+----+-------------------+
only showing top 20 rows

In [14]:
# Add sample data to catalog, create temporary table 
# this enable use to write sql query to spark
sample.createOrReplaceTempView('sample')

In [16]:
query_statement = "SELECT * FROM sample LIMIT 5"

In [17]:
# running sql statement into sample
spark.sql(query_statement).show()

+-------+-----------+-------------------+--------------------+---------+--------+-------------------+-------+--------+----+------------------+
|stud_id|actual_abil|       testing_abil|        attempted_qn|estimator|selector|           duration|run_num|qn_count|qnid|        difference|
+-------+-----------+-------------------+--------------------+---------+--------+-------------------+-------+--------+----+------------------+
|      0|  -1.070397| -2.449999990910292|[35.0, 46.0, 69.0...|  ternary|  random|0.17400169372558594|      0|      30|65.0| 1.379602990910292|
|      1|   0.023275|  0.420492659192532|[66.0, 33.0, 18.0...|  ternary|  random| 0.1559460163116455|      0|      30|46.0|-0.397217659192532|
|      2|  -0.881079| -0.321411498915404|[35.0, 6.0, 19.0,...|  ternary|  random|0.15687823295593262|      0|      30|59.0|-0.559667501084596|
|      3|  -0.291742| 0.6451042841561141|[46.0, 6.0, 5.0, ...|  ternary|  random|0.14149069786071777|      0|      30|52.0|-0.936846284156114|
|      4|   -0.13334|-0.8024054316990081|[6.0, 77.0, 36.0,...|  ternary|  random|0.08756160736083984|      0|      30|53.0|0.6690654316990081|
+-------+-----------+-------------------+--------------------+---------+--------+-------------------+-------+--------+----+------------------+

In [18]:
# convert to pandas dataframe
spark.sql(query_statement).toPandas()

,stud_id,actual_abil,testing_abil,attempted_qn,estimator,selector,duration,run_num,qn_count,qnid,difference
0,0,-1.070397,-2.449999990910292,"[35.0, 46.0, 69.0, 53.0, 9.0, 7.0, 15.0, 38.0,...",ternary,random,0.17400169372558594,0,30,65.0,1.379602990910292
1,1,0.023275,0.420492659192532,"[66.0, 33.0, 18.0, 36.0, 47.0, 15.0, 80.0, 81....",ternary,random,0.1559460163116455,0,30,46.0,-0.397217659192532
2,2,-0.881079,-0.321411498915404,"[35.0, 6.0, 19.0, 16.0, 13.0, 33.0, 65.0, 71.0...",ternary,random,0.15687823295593262,0,30,59.0,-0.559667501084596
3,3,-0.291742,0.6451042841561141,"[46.0, 6.0, 5.0, 68.0, 11.0, 51.0, 13.0, 22.0,...",ternary,random,0.14149069786071777,0,30,52.0,-0.936846284156114
4,4,-0.13334,-0.8024054316990081,"[6.0, 77.0, 36.0, 75.0, 21.0, 55.0, 65.0, 78.0...",ternary,random,0.08756160736083984,0,30,53.0,0.6690654316990081

In [21]:
# filtering with spark, it will not perform any tranformation till .show() is called --> lazy evaluation
fil_data = sample.where("stud_id %2 ==0")

In [22]:
# this show only the filtered data
fil_data.show()

+-------+-----------+--------------------+--------------------+---------+--------+-------------------+-------+--------+----+--------------------+
|stud_id|actual_abil|        testing_abil|        attempted_qn|estimator|selector|           duration|run_num|qn_count|qnid|          difference|
+-------+-----------+--------------------+--------------------+---------+--------+-------------------+-------+--------+----+--------------------+
|      0|  -1.070397|  -2.449999990910292|[35.0, 46.0, 69.0...|  ternary|  random|0.17400169372558594|      0|      30|65.0|   1.379602990910292|
|      2|  -0.881079|  -0.321411498915404|[35.0, 6.0, 19.0,...|  ternary|  random|0.15687823295593262|      0|      30|59.0|  -0.559667501084596|
|      4|   -0.13334| -0.8024054316990081|[6.0, 77.0, 36.0,...|  ternary|  random|0.08756160736083984|      0|      30|53.0|  0.6690654316990081|
|      6|  -0.212129|  2.2856964384205636|[42.0, 59.0, 65.0...|  ternary|  random|0.08495688438415527|      0|      30|43.0| -2.4978254384205636|
|      8|  -0.428025|  0.2563337439484892|[3.0, 6.0, 9.0, 8...|  ternary|  random|0.19700217247009277|      0|      30|77.0| -0.6843587439484892|
|     10|  -0.142432|  -1.818151494730264|[46.0, 33.0, 20.0...|  ternary|  random| 0.1685802936553955|      0|      30| 6.0|  1.6757194947302638|
|     12|  -0.348199| -0.8202585397660729|[46.0, 42.0, 58.0...|  ternary|  random|0.18504977226257324|      0|      30| 4.0|  0.4720595397660729|
|     14|  -0.022567|  0.8160637053288522|[33.0, 8.0, 80.0,...|  ternary|  random|0.17464756965637207|      0|      30|47.0| -0.8386307053288522|
|     16|   0.637761| -2.3647907059825957|[56.0, 59.0, 16.0...|  ternary|  random|0.09336447715759277|      0|      30|81.0|  3.0025517059825955|
|     18|   -0.31878|   1.500101672336459|[46.0, 43.0, 51.0...|  ternary|  random|0.08786487579345703|      0|      30| 5.0| -1.8188816723364591|
|     20|  -0.130288| -0.9143232368491592|[66.0, 46.0, 27.0...|  ternary|  random|0.09232473373413086|      0|      30|42.0|  0.7840352368491592|
|     22|   -0.21281|  1.6325834015943108|[55.0, 56.0, 27.0...|  ternary|  random|0.08829593658447266|      0|      30|54.0| -1.8453934015943108|
|     24|  -0.009584|0.025894348751753338|[20.0, 46.0, 167....|  ternary|  random|0.09094595909118652|      0|      30|80.0|-0.03547834875175334|
|     26|   0.066077| -1.8673278875462709|[43.0, 6.0, 17.0,...|  ternary|  random|0.09175658226013184|      0|      30|46.0|  1.9334048875462708|
|     28|  -0.178841| -0.6563211271725595|[56.0, 33.0, 51.0...|  ternary|  random|0.09524726867675781|      0|      30| 2.0|  0.4774801271725595|
|     30|   0.531917| -1.3880486084520818|[43.0, 20.0, 58.0...|  ternary|  random| 0.0982828140258789|      0|      30|49.0|  1.9199656084520818|
|     32|   0.325249|   -1.59832149900496|[20.0, 66.0, 50.0...|  ternary|  random|0.10254693031311035|      0|      30|10.0|  1.9235704990049598|
|     34|   0.116158|   2.235881094504148|[66.0, 74.0, 5.0,...|  ternary|  random|0.10001230239868164|      0|      30|56.0|  -2.119723094504148|
|     36|   0.171643| -0.2068893005698924|[55.0, 46.0, 47.0...|  ternary|  random| 0.0870053768157959|      0|      30|31.0|  0.3785323005698924|
|     38|   0.348079|  0.9189187782444057|[55.0, 3.0, 78.0,...|  ternary|  random|0.08818793296813965|      0|      30|41.0| -0.5708397782444057|
+-------+-----------+--------------------+--------------------+---------+--------+-------------------+-------+--------+----+--------------------+
only showing top 20 rows